<!DOCTYPE html>
<html>

  <head>
    <title>My Easy Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">
    <script src="../static/scripts/plotly-latest.min.js"></script>
  </head>

  <body>
    <div class = "header">
    <br>
    <h1>WML side on</h1>
    <p>Using the API to WML</p>
    <br>
    </div>

    <div class = "dataset">
      <br>
        <div class="display-dataset">
          <h3>Dataset: </h3>
        </div>
        <div class="choose-dataset">
          <p>
            <select class="dataset-dropdown" id="dataset-dropdown">
              <option disabled="" selected="" value="disabled">Loading...</option>
            </select>
          </p>
        </div>
      <br>
        <div class="create-dataset">
            <a href="/createdataset">Create Dataset</a>
        </div>
      <br>
    </div>

    <table>
      <tr>
        <td class = "display-options">
            <h3>WML Client Options</h4>
            <div class = "clientDescription">
              <a href="/clientDescription">Client Description</a>
            </div>
            <div class = "clientDescription">
              <a href="/clientDetails">Artifacts</a>
            </div>
            <div class="listDetails">
              <a href="/listAll">List All</a>
            </div>
        </td>
        <td class = "display-options">
            <h3>WML Repository</h4>
            <div class = "clientDetails">
              <a href="/repositoryDefinitions">Definitions</a>
            </div>
            <div class = "clientDetails">
              <a href="/repositoryExperiments">Experiments</a>
            </div>
            <div class = "clientDetails">
              <a href="/repositoryModels">Models</a>
            </div>
        </td>
        </tr>
        <tr><td>
          <br><br><br><br><br><br><br><br><br><br>
        </tr></td>
    </table>
  </body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../static/scripts/index.js"></script>
